/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --screen-sm: 30em;
  --screen-md: 48em;
  --screen-lg: 62em;
  --screen-xl: 80em;

  --content-width: 80em;
  --content-x-padding: 2rem;
  --bg-color: #fcfcfc;
}
